# GCP
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/gcp-key.json

# google_cloud_vision.py
SOURCE_ROOT=path/to/dropbox/patent_images
OUTPUT_ROOT=path/to/dropbox/ocr_outputs
LOG_DIR=path/to/dropbox/logs

# extract_date.py
OCR_ROOT=path/to/dropbox/ocr_outputs
REFERENCE_CSV=path/to/dropbox/patents_fyear_iyear.csv
OUTPUT_CSV_DIR=path/to/dropbox/info

# google_cloud_vision.py
SOURCE_ROOT=C:\Users\shirisha.biyyala\Dropbox\ocr_patents\patent_images_sample\scaleup_sample
OUTPUT_ROOT=C:\Users\shirisha.biyyala\Dropbox\ocr_patents\ocr_patents\scaleup_sample
LOG_DIR=C:\Users\shirisha.biyyala\Dropbox\ocr_patents\info

# extract_date.py
OCR_ROOT=C:\Users\shirisha.biyyala\Dropbox\ocr_patents\ocr_patents\scaleup_sample
REFERENCE_CSV=C:\Users\shirisha.biyyala\Dropbox\ocr_patents\patents_fyear_iyear.csv
OUTPUT_CSV_DIR=C:\Users\shirisha.biyyala\Dropbox\ocr_patents\info