# GCP
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/gcp-key.json

# google_cloud_vision.py
SOURCE_ROOT=path/to/dropbox/patent_images
OUTPUT_ROOT=path/to/dropbox/ocr_outputs
LOG_DIR=path/to/dropbox/logs

# extract_date.py
OCR_ROOT=path/to/dropbox/ocr_outputs
REFERENCE_CSV=path/to/dropbox/patents_fyear_iyear.csv
OUTPUT_CSV_DIR=path/to/dropbox/info
